<ion-content>

  <header>
    <img src="../../assets/favicon.svg" alt="">
  </header>
 <ion-card>
  <ion-card-header>
    <ion-card-title style="text-align: center;">Register</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="name" placeholder="User name" type="text" class="ion-input-warning"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="confirmPassword" (ionChange)="checkPassword()" placeholder="Confirm Password" type="password"></ion-input>
        <ion-text *ngIf="password && !passwordMatch" color="danger">Password do not match</ion-text>
        <ion-text *ngIf="password && passwordMatch" color="success">Password match</ion-text>
      </ion-item>

    </ion-list>
  </ion-card-content>
  <div class="form-btn">
    <ion-button [disable]="!passwordMatch" shape="round" color="warning" slot="" (click)="register()">SignUp</ion-button>
  </div>
</ion-card>
</ion-content>

