<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <img src="../../assets/icon/favicon.png">
    </header>
    <div class="ctn">
      <form action="" class="sign-in-form">
        <div class="form-in">
          <input type="email" name="" id="" placeholder="email">
        </div>
        <div class="form-in">
          <input type="text" name="" id="" placeholder="nom d'utilisateur">
        </div>
        <div class="form-in">
          <input type="password" name="" id="" placeholder="mot de passe">
        </div>
        <div class="form-btn">
          <input type="submit" routerLink="/main" value="s'inscrire">
        </div>
      </form>
    </div>
  </div> 
</ion-content>

