<ion-header>

  <ion-toolbar>
    <ion-title>
      Festival
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" text=""></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-card *ngFor = "let article of data?.articles" >
      <ion-card-header>
        <ion-img [src]="article.urlToImage"></ion-img>
        <a [href]="article.url"> Go to the website <ion-icon name="open-outline"></ion-icon> </a>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ article.description }}
      </ion-card-content>
    </ion-card>
</ion-content>
