<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="menu-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Kanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <!-- <ion-card-header>
        
          <ion-card-subtitle>Peuple: <i>Nordiste</i> </ion-card-subtitle>
          <ion-card-title>Festival du Nord</ion-card-title>
      </ion-card-header> -->
        
      <ion-card-content>
        <img src="../../assets/festi1.jpg">
      </ion-card-content>
    </ion-card>
</ion-content>
