<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <img src="../../assets/icon/favicon.png">
    </header>
    <div class="ctn">
      <form action="" class="sign-in-form">
        <div class="form-in">
          <input type="text" name="" id="" placeholder="username">
        </div>
        <div class="form-in">
          <input type="password" name="" id="" placeholder="password">
        </div>
        <div class="form-btn">
          <input type="submit" name="" id="" value="SIGN IN">
        </div>
      </form>
    </div>
  </div> 
</ion-content>
<ion-footer>
  <p align="center">Y're a new Kanda user? <a href="http://">Sign up</a></p>
</ion-footer>
