.container{
  display: flex;
  flex-direction: column;

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 40%;
    border-radius: 0 0 40% 40%;
    background-color: #ffc409;

    img{
      width: 50%;
      height: 50%;
    }
  }
}
