<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <img src="../../assets/icon/favicon.png">
    </header>
    <div class="ctn">
      <form action="" class="sign-in-form">
        <div class="form-in">
          <input type="email" name="" id="" placeholder="email">
        </div>
        <div class="form-in">
          <input type="password" name="" id="" placeholder="mot de passe">
        </div>
        <div class="form-btn">
          <input type="submit" routerLink="/welcome" value="se connecter">
            <a href="http://" style="display: block; text-align: center;"><small>mot de passe oublié?</small></a>
        </div>
        
      </form>
    </div>
  </div> 
</ion-content>
<ion-footer>
  <p align="center">vous n'avez pas de compte? <a href="http://" routerLink="/inscription">Inscrivez-vous</a></p>
</ion-footer>
